.menu{
    @apply absolute top-0 left-10 
    flex flex-col items-center gap-4 z-40
}
.menuContainer{
    @apply relative w-32 h-32
}
@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }    
}
.menuBorderOpen{
    @apply absolute w-52 h-52 -left-32 -top-20 
    border-2 border-gray-500 border-t-2 border-t-gray-300
    rounded-full
    animate-item-1;
    animation: is-rotating 1s infinite;
}
.menuBorderClose{
    @apply animate-item-1-reverse;
    animation: is-rotating 1s reverse;
}
.menuItems {
    @apply absolute
    transform translate-x-1/2 opacity-0 scale-0    
}
.heroicons{
    @apply w-10 h-10 fixed top-3 left-3 z-50 bg-gray-400 text-white shadow-2xl rounded-full p-3 cursor-pointer
}
.homeOpen .aboutOpen .projectsOpen .contactOpen {
    @apply transition-all duration-300 ease-in-out
}
.homeClose .aboutClose .projectsClose .contactClose{
    @apply transition-all duration-300 ease-in-out
}
